body {
    background-color: rgb(182, 84, 139);
}

.contenedor_padre {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contenedor_opcion,
.contenedor_imagenes {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.contenedor_opcion select {
    display: block;
    width: 100%;
    margin-bottom: 218px;
}

.contenedor_imagen{
    background-color: white;
    margin-bottom: 5%;
    width: 250px;
    height: 220px;
    position: relative;
    text-align: center;
}

.contenedor_imagen img {
    display: block;
    margin: 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#realizar_pedido{
    display: block;
}

#titulo{
    text-align: center;
}