.contenedor{
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
}

.caja{
    display: inline-block;
    font-weight: bold;
    width: 50vw;
    height: 30vw;
    margin: 1%;
}

p{
    white-space: pre-wrap;
}

button{
    background-color: rgb(77, 219, 255);
}

button:hover{
    background-color: rgb(39, 146, 173);
    color: white;
}

table{
    background-color: rgb(77, 219, 255);
}

td{
    background-color: rgb(39, 146, 173);
}

#contenedor_tabla1{
    margin: 10px;
}

#contenedor_tabla2{
    margin: 10px;
}

#contenedor_tabla3{
    margin: 10px;
}