body{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(77, 219, 255);
}

button:hover{
    background-color: rgb(39, 146, 173);
    color: white;
}

#botones{
    justify-content: center;
    align-items: center;
    display: inline-block;
}

#contenedor{
    display: block;
    justify-content: center;
}

h2{
    text-align: center;
}

#contenedorImagen{
    margin-top: 10px;
}

img{
    position: relative;
    left: 20%; 
    width: 400px;
    height: 400px;
    object-fit: cover;
}