body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
}

#contenedor_header{
    text-align: center;
}

nav{
    background-color: red;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

a:hover{
    color: rgb(242, 255, 142);
    text-shadow: none;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 10px;
}  

li{
    display: inline;
    padding: 10px;
}

#contenedor_body{
    display: block;
}

#seccion1{
    margin: 3%;
    height: 20%;
    display: table;
    margin-bottom: 0%;
    padding: 0%;
}

#seccion1 div{
    display: table-cell;
    vertical-align: top;
}

#seccion1 img{
    width: 100%;
    object-fit: cover;
    margin: 0%;
    padding: 0%;
}

#imagen_titular{
    width: 50%;
    height: auto;
}

#parrafo_titular{
    padding-left: 3%;
    padding-right: 3%;
    width: 50%;
}

#seccion2{
    width: 100%;
    height: 20%;
}

#seccion2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
    padding: 0%;
}

#seccion2 h2{
    padding: auto;
    margin: 0%;
}

#seccion3{
    width: 100%;
    height: 20%;
    margin: 0%;
    display: table;
}

#seccion3 p{
    margin: 0%;
}

#seccion3 img{
    object-fit: cover;
    width: 450px;
    margin: 0%;
}

.contenedores{
    display: table-cell;
    object-fit: fill;
    padding: 3%;
}

button{
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;

}

button:hover{
    background-color: rgb(202, 9, 9);
    color: rgb(242, 255, 142);
    text-shadow: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
